.playlist-title {
    display: flex;
    flex-direction: column;
    flex:auto;
    width: 100%;
    gap: 30px;
}

.playlist {
    line-height: 10px;
}

.title {
    font-size: 60px;
}

.artists, .album {
    font-size: 20px;
}

.fa-play-circle {
    padding-left: 5px;
    font-size: 20px;
}

.select-button {
    width: 22%;
    
    margin: 0 auto;
    display: inline-block;
    background-color: #1db954;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    color: white;   
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s;
    letter-spacing: 1px;
    text-align: center;
    padding: 15px 0;
}

.select-button:hover {
    background-color: white;
    color: #1db954;
}