.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  background-color: #121212;
  grid-template-columns: 78px 1fr;
  grid-template-areas: 'navbar main';
}

.section {
  padding: 40px 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  padding: 5px 20px;
  text-decoration: none;
  background-color: crimson;
  color: white;
  font-size: 3vh;
  transition: all 0.35s;
  font-weight: bold;
}

.item:hover {
  background-color: white;
  color: crimson;
}

.login_container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_button {
  background-color: black;
  mix-blend-mode: overlay;
  opacity: 60%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 2.5vh;
  box-sizing: border-box;
  padding: 15px 30px;
  transition: all 0.35s;
}

.login_button:hover {
  background-color: #ff0266;
  color: white;
  mix-blend-mode: normal;
  opacity: 1;
}

.playlist_container {
  grid-area: main;
  display: grid;
  grid-template-rows: 100px 1fr;
  margin-top: 20px;
}
.search {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tracks_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .tracks_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 300px;
  min-height: 350px;
  background-color: #1d1d1d;
  border-radius: 12px;
}

@media only screen and (max-width: 600px) {
  .tracks_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .track {
    min-width: 200px;
    min-height: 250px;
  }
}

.track_select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 300px;
  min-height: 350px;
  background-color: #080808;
  border-radius: 12px;
}

.track:hover {
  background-color: #080808;
  cursor: pointer;
}

.track_select:hover {
  cursor: pointer;
}

.track:active {
  background-color: #ff0266;
}

.track_image {
  width: 75%;
  opacity: 1;
  display: block;
}

.middle {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.track_title {
  font-size: 20px;
  color: #ff7597;
}

.track_artist {
  font-size: 10px;
  color: #ff7597;
}

.track_album {
  font-size: 15px;
  color: #ff7597;
}

.track_button {
  border: none;
  background: none;
  color: white;
}
