.fa-play-circle {
    padding-left: 5px;
    font-size: 12px;
}

.select-button {
    width: 22%;
    
    margin: 0 auto;
    display: inline-block;
    background-color: #8a2020;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: white;   
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s;
    letter-spacing: 1px;
    text-align: center;
    padding: 4px 10px;
}

.select-button:hover {
    background-color: white;
    color: #1db954;
}