.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    background-color: aliceblue;
    padding: 15px 40px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    transition: all 0.2s;
}

.login-button:hover {
    background-color: black;
    color: aliceblue;
}
